/*WhiteJazz layout */

body {
  margin: 0;
  padding: 0;
  min-width: 750px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#page {
  margin: 0 auto;
  width: 95%;
  background: #fff;
}

.sticky-enabled.tableheader-processed.sticky-table {
  width: 100%
}

#header,
#content {
  width: 100%;
}

/* added for js button add shortcuts */
#branding .add-or-remove-shortcuts {
  margin: 3px 0 0 0;
  float: left;
}

#branding h1.title {
  float: left;
}

.sections {
  width: 100%;
  padding: 0;
}

.region-sidebar-first .block,
.region-sidebar-second .block {
  margin: 5px;
  padding: 5px;
}

.section > div {
  padding: 10px;
}

.section.width50 {
  width: 50%;
}

.section.width33 {
  width: 33.33333%;
}

.section, width100 {
  width: 100%;
}

body.layout-two-sidebars .contour-main {
  padding: 5px;
  margin: 0 20%;
}

body.layout-sidebar-first .contour-main {
  padding: 5px 0 5px 5px;
  margin: 0 0 0 20%;
}

body.layout-sidebar-second .contour-main {
  padding: 5px 5px 5px 0;
  margin: 0 20% 0 0;
}

body.layout-no-sidebars .contour-main {
  padding: 5px 0;
  margin: 0;
}

body .inner-main {
  width: 100%
}

body.layout-two-sidebars .inner-main {
}

body.layout-sidebar-first .inner-main {
}

body.layout-sidebar-second .inner-main {
}

body.layout-no-sidebars .inner-main {
}

tbody {
  border: none;
}

body {
}

tr.odd td,
tr.even td {
  padding: 0.3em;
}

tr.odd {
}

tr.even {
}

h1,
h2,
h3,
h4,
h4 {
  padding-bottom: 5px;
  margin: 10px 0;
}

h1 {
}

h2 {
}

h3 {
}

h4 {
}

#main h2.title {
}

p {
  margin-top: 0.5em;
  margin-bottom: 0.9em;
}

/* links */

a {
}

a:hover {
}

/* elements */

fieldset {
  margin-top: 1em;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

pre {
  padding: 0.75em 1.5em;
}

table {
}

.path-user .layout-content table {
  width: 100%;
}

#name-and-slogan {
  float: left;
  padding-bottom: 20px;
}

#site-name {
  padding-top: 20px;
  margin: 0;
}

#site-name a,
#site-name a:hover {
  margin: 0;
  padding: 0;
}

#site-slogan {
  margin: 0;
  display: inline;
}

#logo-title {
  float: left
}

#search {
  padding-top: 25px;
  padding-right: 20px;
  float: right;
}

/* search box */

#search .form-text,
#search .form-submit {
  font-size: 1.1em;
  height: 1.5em;
  vertical-align: middle;
}

#search .form-text {
  width: 8em;
  padding: 0 0.5em;
}

#search #search-block-form,
#search-block-form div,
#search-block-form label,
#search h2.title,
#search .content,
#search div,
#search-block-form div,
#search-block-form label {
  display: inline;
}

/* drupal elements */

#mission {
  padding: .5em 1em;
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-item label {
}

.item-list .title {
}

.comment .links {
  margin-bottom: 0;
}
.clr{
  clear: both;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* Primary and Secondary links */
#menu-regions .contextual {
  display: none;
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}

#primary {
}

#primary ul {
  padding: 0;
  margin: 0;
}

#primary li {
  display: inline;
  margin: 0;
  padding: 0;
}

#primary a {
  display: block;
  float: left;
  padding: 0px 14px 0px 14px;
}

#primary a:hover {
}

#primary a.active {
}

#secondary {
}

#secondary ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#secondary li {
  border: none;
  display: inline;
  margin: 0;
  padding: 0;
}

#secondary li a {
  float: left;
  display: block;
  padding: 0px 14px 0px 14px;
}

#secondary a:hover {
}

#secondary a.active {
}

ul.links li.first {
}

.block-poll ul.links {
  margin: 10px 0 0 0;
  padding: 0;
}

.block-poll ul.links li {
}

.block-poll ul.links a {
}

.node-content-links .links {
  margin-left: -0.5em;
}

a.readon,
a:hover.readon {
  margin-top: 15px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

#help {
  margin-bottom: 1em;
}

.messages {
  /*if you want this use then you have it set to !important */
  padding: 0.3em;
  margin-bottom: 1em;
}

.error {
}

#footer-region {
}

#header .block {
}

#footer-message {
  margin: 0;
  padding: 1em;
}

#footer-message a {
}

div#breadcrumb {
  clear: both;
  padding-top: 3px;
}

.title,
.title a {
  margin: 0 auto;
}

.submitted {
}

.links a {
}

.block .title {
  margin-bottom: .25em;
}

.node {
  margin: .5em 0 2em 0;
}

.sticky,
.node-sticky {
  padding: .5em;
}

.node .content,
.comment .content {
  margin: .5em 0 .5em 0;
}

.node .taxonomy, .node .field-type-taxonomy-term-reference {
}

.node .user-picture {
  float: right;
  margin: 0.5em;
}

.comment {
  padding: .5em;
  margin-bottom: 1em;
}

.comment .title a {
}

.comment .new {
  float: right;
}

.comment .user-picture {
  float: right;
  margin: 0.5em;
}

#aggregator .feed-source {
  padding: 1em;
  margin: 1em 0;
}

#aggregator .news-item .categories,
#aggregator .source,
#aggregator .age {
}

#aggregator .title {
  margin-bottom: 0.5em;
}

#aggregator h3 {
  margin-top: 1em;
}

#profile .profile {
  clear: both;
  padding: .5em;
  margin: 1em 0em;
}

#profile .profile .name {
  padding-bottom: 0.5em;
}

.block-forum h3 {
  margin-bottom: .5em;
}

div.admin-panel .body {
}

div.admin-panel h3 {
  padding: 5px 8px 5px;
  margin: 0;
}

/* new */
.section {
  float: left;
}

#section1,
#section2,
.sections-top,
.sections-bottom {
  margin-top: 10px;
}

#content-top h2,
#content-top h2.title,
#content-bottom h2,
#content-bottom h2.title {
}

a:link,
a:visited,
.title,
.title a,
.submitted,
.links,
.node .taxonomy,
#aggregator .news-item .categories,
#aggregator .source,
#aggregator .age,
.forum td .name,
div.admin-panel .description {
}

a:hover {
}

/* Menu styles */
#primary {
}

#primary a {
}

#primary a:hover,
#primary a.active {
}

#secondary {
}

#secondary li a {
}

#secondary a:hover,
#secondary a.active {
}

#mission {
}

.comment {
}

#profile .profile {
}

#block-node-recent table {
  width: 100%;
}

.rooplelogo {
  padding-top: 15px;
}

.user-login-form {
  padding-bottom: 1em;
}

.user-login-form label {
  display: block;
  font-weight: bold;
}

.user-login-form label::after {
  content: "*";
  color: red;
}

.user-login-form .form-item {
  padding-bottom: 1em;
}

.block-user-login-block .item-list {
}

.user-form .form-wrapper {
  padding-bottom: 1em;
}

.user-form label {
  display: block;
  font-weight: bold;
}

.user-form label.form-required::after {
  content: "*";
  color: red;
}

.user-register-form .form-wrapper {
  padding-bottom: 1em;
}

.user-register-form label {
  display: block;
  font-weight: bold;
}

.user-register-form label.form-required::after {
  content: "*";
  color: red;
}
