/*WhiteJazz layout */

body {
}

#page {
  background:#fff;
}

li.expanded,
li.collapsed,
li.leaf {
}

.item-list ul li,
.block-poll ul.links li  {
}

.book-navigation .menu {
}

#header,
#content {
}

/* added for js button add shortcuts */
#branding .add-or-remove-shortcuts{
}

#branding h1.title {
}

.sections {
}

.region-sidebar-first  .block,
.region-sidebar-second .block {
}

div ul.menu {
}

.section .block {
}

.section.width49 {
}

.section.width33 {
}

.section.width100 {
}

tbody {
  border: none;
}

body {
  font-size: 82%;
  font-family:  Arial, Verdana, sans-serif;
  line-height: 130%;
  color: #000;
  background-color: #fff;
}


table {
  border-collapse: collapse;
  font-size: 1em;
}
tr.even, tr.odd {
  background-color: #eee;
  border-bottom: 1px solid #ccc;
  padding: 0.1em 0.6em;
}

tr.odd td,
tr.even td {
}

tr.odd {
  background: #eee;
}

tr.even {
  background: #ccc;
}

h1,
h2,
h3,
h4,
h4 {
  line-height:125%;
}

h1 {
  font-size: 160%;
}

h2 {
  font-size: 125%;
}

h3 {
  font-size: 110%;
}

h4 {
  font-size:  100%;
}

#main h2.title {
  font-size: 150%;
}

p {
}

/* links */

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* elements */

fieldset {
  border: 1px solid #ccc;
}

pre {
  background-color: #eee;
  font-size: 12px;
  border: 1px solid #ddd;
}

#name-and-slogan {
}

#site-name {
  font-size: 165%;
  line-height:1;
}

#site-name a,
#site-name a:hover {
  font-weight: normal;
  font-size: 200%;
}

#site-slogan {
  font-size: 125%;
}

#logo-title {
}

img#logo  {
}

img#roopletheme {
}

#search {
}

/* search box */

#search .form-text,
#search .form-submit {
  font-size: 1.1em;
  height: 1.5em;
  vertical-align: middle;
}

#search .form-text {
}

#search #search-block-form,
#search-block-form div,
#search-block-form label,
#search h2.title,
#search .content,
#search div,
#search-block-form div,
#search-block-form label {
}

#mission {
  font-weight:bold;
  text-align:center;
  font-size: 85%;
}

.form-item label {
  font-size: 1em;
  color: #222;
}

.item-list .title {
  color: #222;
}

.comment .links {
}

.clr {
}

/* Primary and Secondary links */

#primary {
  line-height: 30px;
}

#primary ul {
  list-style:none;
}

#primary li {
  border:none;
}

#primary a {
  font-weight:bold;
  font-size: 95%;
}

#primary a:hover {
  text-decoration: none;
}

#primary a.active {
}

#secondary {
}

#secondary ul {
  list-style:none;
}

#secondary li {
  border:none;
}

#secondary li a {
  font-size: 90%;
}

#secondary a:hover {
  text-decoration: none;
}

#secondary a.active {
  font-weight:bold;
}

ul.links li {
  border-left: solid 1px #104a91;
}

ul.links li.first {
  border: none;
}

.block-poll ul.links {
}

.block-poll ul.links li {
  border:none;
}

.block-poll ul.links a {
  font-weight:normal;
}

.node-content-links .links {
}

a.readon,
a:hover.readon {
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

#help {
  font-size: 0.9em;
}

.messages {
/*  background-color: #eee;
  border: 1px solid #ccc;
  */
  margin: 2px 0 2px 8px ;
}

.error {
  border-color: red;
}

#footer-region {
  text-align: center;
}

#header .block {
  text-align: center;
}

#footer-message {
  text-align: center;
  font-size: 90%;
}
  
#footer-message a {
  font-weight:bold;
}

.title,
.title a {
  font-weight: bold;
}

.submitted {
  font-size: 0.8em;
}

.links a {
  font-weight: bold;
}

.block .title {
}

.node {
}

.sticky,
.node-sticky {
  background-color: #eee;
  border: solid 1px #ddd;
}

.node .content,
.comment .content {
}

.node .taxonomy, .node .field-type-taxonomy-term-reference {
  font-size: 0.8em;
  line-height: 100%;
}

.node .user-picture {
  float: right;
}

.comment {
}

.comment .title a {
  font-weight: normal;
}

.comment .new {
  text-align: right;
  font-weight: bold;
  font-size: 0.8em;
  color: red;
}

.comment .user-picture {
}

#aggregator .feed-source {
  background-color: #eee;
  border: 1px solid #ccc;
}

#aggregator .news-item .categories,
#aggregator .source,
#aggregator .age {
  font-style: italic;
  font-size: 0.9em;
}

#aggregator .title {
}

#aggregator h3 {
}

#profile .profile {
}

#profile .profile .name {
}

.block-forum h3 {
}

div.admin-panel .body {
  background: #f4f4f4;
}

div.admin-panel h3 {
}

/* new */
.section {
}

#section1,
#section2,
.sections-top,
.sections-bottom
 {
  border: 1px solid #ccc;
}

#content-top h2,
#content-top h2.title,
#content-bottom h2,
#content-bottom h2.title {
  font-size:125%;
}

body {
  color: #292929;
}

a:link,
a:visited,
.title,
.title a,
.submitted,
.links,
.node .taxonomy,
#aggregator .news-item .categories,
#aggregator .source,
#aggregator .age,
#forum td .name,
div.admin-panel .description {
  color: #104A91;
}

a:hover {
  color: #960B19;
}

/* Menu styles */
#primary {
  background: #104A91;
}

#primary a {
  color: #fff;
  background: #104A91;
  border-right:1px solid #999999;
}

#primary a:hover,
#primary a.active {
  background: #6C8CB5;
}

#secondary {
  background: #6C8CB5;
  border-top:1px solid #999999;
  border-bottom:1px solid #999999;
}

#secondary li a {
  color: #fff;
  background: #6C8CB5;
  border-right:1px solid #999999;
}

#secondary a:hover,
#secondary a.active {
  background: #104A91;
}

#mission {
  border: solid 1px #104A91;
  color: #000;
}

.comment {
  border: 1px solid #104A91;
}

#profile .profile {
  border: 1px solid #104A91;
}

#block-node-recent table {
}

.rooplelogo {
  text-align: center;
}
