.field.field--type-entity-reference {
  font-size: 85%;
}
.field.field--type-entity-reference.field--label-inline div {
  display: inline;
}
.field.field--type-entity-reference div.field__label {
  font-weight: bold;
}
.field.field--type-entity-reference.field--label-inline div.field__label::after {
  content: ":";
}
