section.comment-wrapper { margin-top: 1.5em }

#edit-comment-body-wrapper {
  margin: 0.5em 0;
}
.comment-form .form-actions {
  margin-bottom: 0.5em;
}
textarea {
  display: block;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}