.forum table {
  width: 100%;
}

.forum {
  padding: 0.5em;
}

.forum,
.forum .forum__posts {}

.forum .forum__topics,
.forum .forum__last-reply {}

.forum .forum__container {}

.forum .forum__container a {}

.forum .forum__statistics,
.forum .forum__settings,
.forum .forum__pager {
  height: 1.5em;
}

.forum .forum__name {
  margin:3px 0 0 0;
}

.forum .forum__links {
  padding-top: 0.7em;
}
.forum table {
}

.forum td {
}

.forum .forum,
.forum .forum__posts {
  background-color: #eee;
}

.forum .forum__topics,
.forum .forum__last-reply {
  background-color: #ddd;
}

.forum .forum__container {
  background-color: #ccc;
}

.forum .forum__container a {
  color: #555;
}

.forum forum__statistics,
.forum forum__settings,
.forum forum__pager {
  border: 1px solid #bbb;
}

.forum .forum__links {
  font-size: 0.9em;
}

.forum th {
  border-bottom: 3px solid #ccc;
  padding-right: 1em;
  text-align: left;
}
.forum tbody {
    border: none;
}


.forum .forum__description {
  font-size: 0.9em;
}
.forum td.forum__created,
.forum td.forum__posts,
.forum td.forum__topics,
.forum td.forum__last-reply,
.forum td.forum__replies,
.forum td.forum__pager {
  white-space: nowrap;
}

.forum td.forum .forum__icon {
  background-image: url(../../images/forum-icons.png);
  background-repeat: no-repeat;
  height: 24px;
  margin: 0 9px 0 0; /* LTR */
  width: 24px;
  margin: 0 .5em;
  display: inline-block;
}
.forum .forum__name {
  display: inline-block;
}
.forum .forum__indent {
  margin-left: 20px; /* LTR */
}
.forum .forum__icon {
  background-image: url(../../images/forum-icons.png);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  margin: 0 .5em;
  display: inline-block;
}
.forum .forum__icon.forum__topic-status--new {
  background-position: -24px 0;
}
.forum .forum__icon.forum__topic-status--hot {
  background-position: -48px 0;
}
.forum .forum__icon.forum__topic-status--hot-new {
  background-position: -72px 0;
}
.forum .forum__icon.forum__topic-status--sticky {
  background-position: -96px 0;
}
.forum .forum__icon.forum__topic-status--closed {
  background-position: -120px 0;
}
.forum__topic .forum__title {
  display: inline-block;
}
