.menu-item {
  list-style-image: url(/core/misc/menu-leaf.png);
}
.menu-item--collapsed {
  list-style-image: url(/core/misc/menu-collapsed.png);
}
.menu-item--expanded {
  list-style-image: url(/core/misc/menu-expanded.png);
}
/*
.menu-item--active-trail {
  font-weight: 900;
  color: black;
}
*/
div ul.menu, .item-list ul {
    padding: 0 0 0.25em 1em;
    margin: 0;
}
ul.links li {
  padding: 0 1em 0 0;
}
[dir="rtl"] ul.links li {
  padding: 0 0 0 1em;
}
.item-list ul li, .block-poll ul.links li {
  list-style-image: url(/core/misc/menu-leaf.png);
}
nav.pager {
    clear: both;
    text-align: center;
}
nav .pager__items li {
    background-image: none;
    display: inline;
    list-style-type: none;
    padding: 0.5em;
}