#menu-regions .title {
  display: none;
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal
}
#primary a:hover, #primary a.is-active {
  background: #6C8CB5;
}
#secondary a:hover, #secondary a.is-active {
  background: #104A91;
}