.profile .field {
  margin: 1em 0;
/*  border: solid 1px #ccc;
  padding: .5em 0;*/
}
.profile .field .field__label{
  font-weight: bold;
  margin-bottom: 0.5em;
}
.profile .field img{
  float: right;
}