#suckerfishmenu .block {
  margin-bottom: 0;
  padding-bottom: 0;
}

#suckerfishmenu .block,
#suckerfishmenu .box {
  padding: 0;
}

#suckerfishmenu h2 {
  display: none;
}

#suckerfishmenu {
  line-height: 28px;
  background: #104a91;
}

#suckerfishmenu .block {
  border: none;
  margin: 0;
  padding: 0;
}

#suckerfishmenu ul.menu { /* top level ul */
  padding: 0 0 0 0px;
  list-style: none;
  z-index: 3;
  display: inline;
}

#suckerfishmenu a {
  color: #fff;
  display: block;
  padding: 0 14px; /* padding between menu elements */
  text-decoration: none;
  font-size: 95%;
  font-weight: bold;
  border-right: #999 solid 1px;
}

#suckerfishmenu .menu-item {
  background: #104A91;
}

#suckerfishmenu a:hover {
  background: #6C8CB5;
  text-decoration: none;
}

#suckerfishmenu li li.menu-item--expanded > a {
  background: #104a91 url(../../images/menu_arrow.png) 100% 50% no-repeat;
}

#suckerfishmenu li li.menu-item--active-trail > a, .menu-bar li li.menu-item--expanded > a:hover {
  background-color: #6C8CB5;
}

#suckerfishmenu .menu-item--expanded > a:hover {
  background-color: #6C8CB5;
  text-decoration: none;
  color: #fff
}

#suckerfishmenu li.menu-item--active-trail > a,
#suckerfishmenu a:hover {
  background-color: #6C8CB5;
  text-decoration: none;
  color: #fff
}

#suckerfishmenu li {
  display: inline;
  float: left;
  margin: 0;
  padding: 0;
  height: 1%;
}

#suckerfishmenu ul.menu li ul {
  position: absolute;
  width: 200px;
  left: -999em; /* to hide menus because display: none isn't read by screen readers */
}

/* second-level lists */
#suckerfishmenu ul.menu ul {
  padding: 0;
  margin-left: 0;
  list-style: none;
  background: #999;
}

#suckerfishmenu ul.menu li li {
  float: left;
  width: 200px;
  margin-bottom: 1px;
}

#suckerfishmenu ul.menu li li a:link,
#suckerfishmenu ul.menu li li a:visited {
  width: 170px;
}

/* margin for pullouts */
#suckerfishmenu ul.menu li ul ul {
  margin: -28px 0 0 199px;
}

#suckerfishmenu ul.menu li:hover ul ul,
#suckerfishmenu ul.menu li:hover ul ul ul {
  left: -999em;
}

#suckerfishmenu ul.menu li:hover ul,
#suckerfishmenu ul.menu li li:hover ul,
#suckerfishmenu ul.menu li li li:hover ul {
  left: auto;
}

/* third level menus */
#suckerfishmenu ul.menu li ul ul ul {
  margin: -28px 0 0 199px;
}

#suckerfishmenu ul.menu ul li:hover ul ul,
#suckerfishmenu ul.menu ul li:hover ul ul ul {
  left: -999em;
}

#suckerfishmenu ul.menu ul li:hover ul,
#suckerfishmenu ul.menu ul li li:hover ul,
#suckerfishmenu ul.menu ul li li li:hover ul {
  left: auto;
}

#suckerfishmenu div .contextual-links-wrapper {
  display: none;
}