main .layout-sidebar-first,
main .layout-sidebar-second,
main .inner-main {
  display:inline;
  float: left;
  position: relative;
}
main .layout-sidebar-first {
  width: 20%;
  margin-left: -100%;
  z-index: 2;
}
main .layout-sidebar-second {
  width: 20%;
  margin-left: -20%;
  z-index: 2;
}
.contour {
  padding: 5px 5px 0 5px;
  margin: 5px;
}
.sidebar .block {
  padding-bottom: 10px