nav.tabs {
    margin-bottom: 1em
}

.tabs ul.primary {
    border-collapse: collapse;
    height: auto;
    line-height: normal;
    padding: 0 1em;
    margin: 0;
    overflow: hidden;
    border: none;
    background: transparent url(../../images/tabs-border.png) repeat-x left bottom;
    white-space: nowrap
}

.tabs ul.primary li a {
    padding: 0.2em 1em;
}

.tabs ul.primary li {
    margin: 0 0 0 0.5em;
}

ul.tabs.primary li a {
    border: #CCC solid 1px;
    background-color: #DDD;
    text-decoration: none;
}

ul.tabs.primary li a.is-active {
    border-bottom-color: white;
    background-color: white;
}

ul.tabs.primary li a:hover {
    background-color: #eee;
    border-bottom-color: #ccc;
}
