/* custom typography styles */
span.alert,
span.help,
span.info,
span.note,
span.info,
span.errormsg,
span.xfer {
  display: block;
  padding: 10px 10px 10px 10px;
  margin: 0 0px;
}

span.alert {
}

span.errormsg {
}

span.help {
}

span.note {
}

span.info {
}

span.xfer {
}

pre {
  padding:10px;
  margin: 10px 0px 0 0px;
}

blockquote {
  padding: 10px 10px 10px 30px;
  margin: 15px;
}
/* colors */
span.alert,
span.help,
span.info,
span.note,
span.info,
span.errormsg,
span.xfer {
}

span.alert {
  background-color: #F3CECE;
  border-top: 2px solid #d04040;
  border-bottom: 2px solid #d04040;
}

span.errormsg {
  background-color: #F3CECE;
  border-top: 2px solid #d04040;
  border-bottom: 2px solid #d04040;
}

span.help {
  background-color: #CADAEF;
  border-top: 2px solid #3060a0;
  border-bottom: 2px solid #3060a0;
}

span.note {
  background-color: #F8EFD0;
  border-top: 2px solid #E6CC62;
  border-bottom: 2px solid #E6CC62;
}

span.info {
  background-color: #F8EFD0;
  border-top: 2px solid #E6CC62;
  border-bottom: 2px solid #E6CC62;
}

span.xfer {
  background-color: #DDF8EB;
  border-top: 2px solid #20a060;
  border-bottom: 2px solid #20a060;
}

pre {
  background:#F8F8F8 none repeat scroll 0%;
  border:1px solid #C0C0C0;
}

blockquote {
  font-style:italic;
  font-size:110%;
  line-height:130%;
  color: #555;
  background: transparent url(../../images/blockquote.gif) no-repeat scroll 0 5px;
}