{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.mission: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.content_top: The top content of the current page.
 * - page.content_bottom: The bottom content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.footer_message: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 * - page.search_box: Items for the search box region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup themeable
 */
#}
<div id="page">
  <div class="layout-container">
    <header role="banner" class="clearfix">
      {% if page.branding_box %}
      <div id="baranding" class="site-name-and-slogan-and-logo">
        {{ page.branding_box }}
      </div> 
      {% endif %}
      {% if page.search_box %}
      <div id="search">
        {{ page.search_box }}
      </div> 
      {% endif %}
      {{ page.header }}
    </header>
    <div id="menu-regions">
    {% if page.primary_menu %}
      <div id="primary" class="clearfix">
        {{ page.primary_menu }}
      </div>
    {% endif %}
    {% if page.secondary_menu %}
      <div id="secondary" class="clearfix">
        {{ page.secondary_menu }}
      </div>
    {% endif %}
    {% if page.menu_bar %}
      <div id="suckerfishmenu" class="clearfix">
        {{ page.menu_bar }}
      </div>
    {% endif %}
    </div>
    {% if page.user1 or page.user2 or page.user3 %}
      <aside class="sections-top" role="complementary">
        {% set section1count = 0 %}
        {% if page.user1 %}{% set section1count =  section1count + 1 %}{% endif %}
        {% if page.user2 %}{% set section1count =  section1count + 1 %}{% endif %}
        {% if page.user3 %}{% set section1count =  section1count + 1 %}{% endif %}
        {% set section1width %}width{{ (100 / section1count) // 1 }}{% endset %}
        {% if page.user1 %}
          <div class="section {{ section1width }}">{{ page.user1 }}</div>
        {% endif %}
        {% if page.user2 %}
          <div class="section {{ section1width }}">{{ page.user2 }}</div>
        {% endif %}
        {% if page.user3 %}
          <div class="section {{ section1width }}">{{ page.user3 }}</div>
        {% endif %}
        <div class="clearfix"></div>
      </aside>
    {% endif %}
    {{ page.highlighted }}
    {% if page.mission %}
    <div id="mission">{{ page.mission }}</div>{# should swiched to highligted #}
    {% endif %}
    {{ page.help }}

    <main class="outer-main" role="main">
      <section class="main-conetent">
      <div class="inner-main">
        <div class="contour-main">
        {% if page.breadcrumb %}
        {{ page.breadcrumb }}
        {% endif %}
          <a id="main-content" tabindex="-1"></a>
          <div class="clearfix" id="content-top" role="complementary">
            {{ page.content_top }}
          </div>
          <div class="layout-content">
            {{ page.content }}
          </div>
          <div class="clearfix" id="content-bottom" role="complementary">
            {{ page.content_bottom }}
          </div>
        </div>
      </div>
      </section>
      {% if page.sidebar_first %}
        <aside class="layout-sidebar-first sidebar" role="complementary">
          <div class="contour">
            {{ page.sidebar_first }}
          </div>
        </aside>
      {% endif %}
      {% if page.sidebar_second %}
        <aside class="layout-sidebar-second sidebar" role="complementary">
          <div class="contour">
            {{ page.sidebar_second }}
          </div>
        </aside>
      {% endif %}
    </main>
    <div class="clearfix"></div>
    {% if page.user4 or page.user5 or page.user6 %}
      <aside class="sections-bottom" role="complementary">
      {% set section2count = 0 %}
      {% if page.user4 %}{% set section2count =  section2count + 1 %}{% endif %}
      {% if page.user5 %}{% set section2count =  section2count + 1 %}{% endif %}
      {% if page.user6 %}{% set section2count =  section2count + 1 %}{% endif %}
      {% set section2width %}width{{ (100 / section2count) // 1 }}{% endset %}
        {% if page.user4 %}
          <div class="section {{ section2width }}">{{ page.user4 }}</div>
        {% endif %}
        {% if page.user5 %}
          <div class="section {{ section2width }}">{{ page.user5 }}</div>
        {% endif %}
        {% if page.user6 %}
          <div class="section {{ section2width }}">{{ page.user6 }}</div>
        {% endif %}
        <div class="clearfix"></div>
      </aside>
    {% endif %}
    <div class="clearfix"></div>
    <footer id="footer" role="contentinfo">
      {% if page.footer %}
        <div id="footer-region">{{ page.footer }}</div>
      {% endif %}
      {% if page.footer_message %}
        <div id="footer-message">{{ page.footer_message }}</div>
      {% endif %}
      {% if template_logo %}
        <div id="footer-template-logo">
          {{ template_logo|raw }}
        </div>
      {% endif %}
    </footer>
  </div>
</div>